/*   font-family: 'Cormorant Unicase', serif;

font-family: 'Noto Sans', sans-serif;

font-family: 'Ranchers', cursive; */
/*Header*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
  font-family:'Ranchers', cursive;
  
}
header{
width: 100%;
height: 600px;
background: -webkit- linear-gradient(to right, hsla(196, 8%, 56%, 0.623), hsla(225, 29%, 22%, 0.651)),url(fotoprincipal.png);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(196, 8%, 56%, 0.623), hsla(225, 29%, 22%, 0.651)),url(fotoprincipal.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}
h1{
  color: #ffffff;
}
 body
 {
   margin: 0px;
   padding: 0;
   
   /* make it look decent enough */
   background: #232323;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }
 nav{
   margin: 0px;
   background-color: #fde401;
 }
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   font-family: 'Ranchers', cursive; 
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #ffffff;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #fde401;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

.wave{
  position: absolute;
  
}
.textos-header{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.drinkandmenu{
  height: 400px;
  background-color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.photosvg{
 
  
  
  flex-direction: row;
  height: 300px;
  width: 300px;
  
}
.galeria-subtitulo{
  text-align: center;
  margin-top: 20px;
}

.galeria{
  margin-top: 50px;
  height: 600px;
  background-color: #b4a5a5 ;
  display: flex;
  justify-content: space-between;
  border: #1e212d solid 5px;
  border-bottom: none;
}
.card{
  text-align: center;
  
}
.history{
  height: 600px;
  margin-top: 30px;
  background-image: url(undraw_Beer_celebration_cefj.svg);
  background-repeat: no-repeat;
  
}
h2{
  text-align: center;
  font-family:'Noto Sans', sans-serif ;
  
}
p{
  text-align: center;
  font-family:'Cormorant Unicase', serif ;
}
.redes{
  height: 300px;
  background-color: #1e212d ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
i{
  font-size: 100px;
  color: aliceblue;
  
}
.redes-pie{
  height: 50px;
  background-color:#edeef7 ;
}
.redes-pie-p{
text-align: center;
color: black;
font-family: 'Courier New', Courier, monospace
}